{% extends 'layout.html' %}
{% block title %}{{title}}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        {% for el in models %}
        <a href="{% url 'model-detail' el.id %}">
            <div class="col-md-4" style="width: 250px;">
                <img src="media/{{el.img}}" alt="" style="width: 200px;">
                <h3>{{el.name}}</h3>
                <p>Кількість голосів: {{ el.score }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}