{% extends 'layout.html' %}
{% block title %}{{ title }}{% endblock %}

{% block head %}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="../../media/{{models.img}}" alt="" style="width: 400px;">
        </div>
        <div class="col-md-6">
            <h2>
                {{ models.name }}
            </h2>
            {% if models.info != "" %}
            <h4>Опис</h4>
            <p>
                {{ models.info }}
            </p>
            {% endif %}
            <h6>Рейтинг {{ models.score }}</h6>
        </div>
    </div>
    <!--    <h4>Інші фото</h4>-->
    <!--    <p><img src="../media/{{model.profile_img}}" alt="" style="width: 150px;"></p>-->
    <div class="row">
        {% for el in products %}
        <div class="col-md-3">
            <h3>{{ el.name }}</h3>
            <h5>{{ el.vote }} votes</h5>
            <h5>{{ el.get_display_price }} AED</h5>
            <div style="background-color: black; color: white; height: 50px; width: 50px;">
                <a href="{% url 'landing-page' models.id el.id %}" style="padding: 20px">Buy</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}